.edit-exit-save-modal-overlay.ui-modal__overlay {
  --edit-exit-save-modal-surface-base: rgba(4, 8, 18, .22);

  align-items: flex-start;
  justify-content: flex-end;
  padding: 64px 16px 16px;
  background: var(--edit-exit-save-modal-surface-base);
}
